
<div class="content">

  <img src="assets/pinetree-color.svg" alt="Pinetree Dev">

  <div class="socialicons">

    <div class="socialicon">
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/PinetreeDev"><img src="assets/socialicons/github.svg" alt="Github"></a>
    </div>

    <div class="socialicon">
      <a target="_blank" rel="noopener noreferrer" href="https://liberapay.com/PinetreeDev"><img src="assets/socialicons/liberapay.svg" alt="Liberapay"></a>
    </div>

  </div>

</div>

<!--<router-outlet></router-outlet>-->
